<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>by ihorcher</title>
</head>
<style>
    body {
        background-color: #222222;
        color: #eeeeee;
        letter-spacing: 0.35px;
    }

    a {
        color: #CFCFCF;
        text-decoration: underline;
    }

    a:visited {
        color: #B6B6B6;
        text-decoration: underline;
    }
</style>
<body>
    <div>To confirm your email address, click on <a href="{{ url_for('confirm_email_page') }}?token={{ token }}">this link</a>.</div>
</body>
</html>